In [1]:
a = 1
print(a)

1

In [2]:
print(type(a))

<class 'int'>

In [4]:
a = 4.24e10
print(a)
print(type(a))

42400000000.0
<class 'float'>

In [10]:
a = 3
b = 4
print(a+b)
print(a*b)
print(a//b)
print(a%b)
print(a**b)

7
12
0
3
81

In [12]:
a = "hello world"
print(type(a))

<class 'str'>

In [22]:
a = "Python's favorite food is perl"
print(a)
a = 'Python\'s favorite food is perl'
print(a)
a = """Life is too short,
You need python"""
print(a)

Python's favorite food is perl
Python's favorite food is perl
Life is too short,
You need python

In [31]:
a = "Python"
b = " is Fun!"
print(a+b)
print(a[-3])

Python is Fun!
h

In [37]:
a = "20210917HwanilSS"
print(a[:8])
print(a[8:])
print(a[::2])
print(a[::-2])

20210917
HwanilSS
2201HaiS
Slnw7910

In [41]:
a = "I eat %d apples." % 3
print(a)
b = "i eat " + str(3) + " apples."
print(b)

I eat 3 apples.
i eat 3 apples.

In [45]:
number = 10
day = "three"
a = "I ate %s apples. so I was sick for %s days." % (number,day)
print(a)

I ate 10 apples. so I was sick for three days.

In [53]:
a = "adfasfds asdfsda {} adsf".format("하이")
print(a)

a = "adfasfds {age} asdfsda {name} adsf".format(name="환일", age=30)
print(a)

adfasfds asdfsda 하이 adsf
adfasfds 30 asdfsda 환일 adsf

In [57]:
a = "%0.4f" % 3.42137234
print(a)

3.4214

In [63]:
a = "hoebby"
print(a.count("b"))
print(a.find('b'))
print(a.find('x'))

2
3
-1

In [1]:
a = ",".join("abcd")
print(a)

a,b,c,d

In [3]:
a = "HI"
a.lower()
a = "hi"

'hi'

In [6]:
a = " hi "
a.strip().upper()

'HI'

In [10]:
a = "Life is too short"
a.replace("Life","Your Leg")

'Your Leg is too short'

In [13]:
a.split()

['Life', 'is', 'too', 'short']

In [18]:
a = ["hwanil","int","check",["bamtoli","manse samdori"]]
print(a[3][1])

manse samdori

In [20]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
print(a + b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
a = ["환일", "정음", "정민"]
print(a[0:2])
a[0:2] = []
print(a)

['환일', '정음']
['정민']

In [26]:
a = ["환일", "정음", "정민"]
print(a)
del a[0]
print(a)

['환일', '정음', '정민']
['정음', '정민']

In [28]:
a = ["환일", "정음", "정민"]
a.append("니르")
print(a)

['환일', '정음', '정민', '니르']

In [35]:
a = [1,5,3]
a.reverse()
print(a)
print(a.index(5))
a.insert(0,4)
print(a)
a.remove(1)
print(a)

[3, 5, 1]
1
[4, 3, 5, 1]
[4, 3, 5]

In [37]:
a = [1,5,3,1,1,1,1]
a.remove(1)
print(a)

[5, 3, 1, 1, 1, 1]

In [39]:
a = [1,5,3]
print(a.pop())
print(a)

3
[1, 5]

In [44]:
a = [1,5,3,1,1,1,1]
a.extend([2,3])
print(a)

[1, 5, 3, 1, 1, 1, 1, 2, 3]

In [49]:
t1 = (1,2,'a','b')
t2 = (3,4)
print(t1*2)

(1, 2, 'a', 'b', 1, 2, 'a', 'b')

In [52]:
dic = {'name':'eric', 'age':15}
print(dic['name'])

eric

In [56]:
a = {1:'a'}
a['name'] = "hwanil"
print(a)
del a['name']
print(a)

{1: 'a', 'name': 'hwanil'}
{1: 'a'}

In [61]:
a = {1:'a',2:'b',3:'c',4:'d'}
print(a.keys())
print(a.values())
print(a.items())
dic_keys = a.keys();

dict_keys([1, 2, 3, 4])
dict_values(['a', 'b', 'c', 'd'])
dict_items([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')])

In [71]:
for k,v in a.items():
    print("키는 : " + str(k)) 
    print("밸류는 : " + v)
    
a.clear()
print(a)

{}

In [85]:
a = {1:'a',2:'b',3:'c',4:'d'}

print(1 in a)

True

In [90]:
#s1 = set([1,2,3])
s1 = {1,2,3}
print(s1)

{1, 2, 3}

In [93]:
l = [1,2,2,3,3]
newList = list(set(l))
print(newList)

[1, 2, 3]

In [96]:
s1 = set("Hello")
print(s1)

{'l', 'H', 'e', 'o'}

In [99]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1&s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [106]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
#print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [107]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
#print(s1 - s2)
#print(s1.difference(s2))
print(s2.difference(s1))

{8, 9, 7}

In [113]:
s1 = set([1,2,3,4,5,6])
#s1.add(7)
s1.update([7,8,9,1])
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [115]:
s1 = set([1,2,3,4,5,6])
s1.remove(1)
print(s1)

{2, 3, 4, 5, 6}

In [117]:
a = True;
print(a)
print(type(a))

True
<class 'bool'>

In [119]:
a = "안녕"

if a:
    print(a)

안녕

In [121]:

a ="" 

if a:
    print(a)

In [124]:
a = [1,2,3,4]
while a:
    a.pop()
    print(a)

[1, 2, 3]
[1, 2]
[1]
[]

In [128]:
a = [1,2,3]
b = a
a[1]=4
print(a is b)

True

In [130]:
a = [1,2,3]
b=a[:]
a[1]=4
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [132]:
from copy import copy
a = [1,2,3]
b = copy(a)
a[1]=4
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [1]:
a = 3
b = 5
a,b=b,a
print(a,b)

5 3

In [3]:
money = True
if money:
    print("택시 ㄱ")
else:
    print("뚜벅이")

택시 ㄱ

In [8]:
if 1 in [1,2,3]:
    pass
else:
    print("false")

In [10]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    pass
elif card:
    print("택시를 타고가라")
else:
    print("걸어가라")

택시를 타고가라

In [13]:
score = 70
if score>= 60:
    message = "success"
else:
    message="failure"

print(message)

message="success" if score>=60 else "failure"
print(message)

failure
failure

In [15]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit+1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit ==10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [18]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 준다.")
    coffee = coffee - 1
    print("남은 커피의 양은 %d개 입니다" % coffee)
    if not coffee:
        print("커피가 다 떨어졌읍니다. 가게종료!")
        break

돈을 받았으니 커피를 준다.
남은 커피의 양은 9개 입니다
돈을 받았으니 커피를 준다.
남은 커피의 양은 8개 입니다
돈을 받았으니 커피를 준다.
남은 커피의 양은 7개 입니다
돈을 받았으니 커피를 준다.
남은 커피의 양은 6개 입니다
돈을 받았으니 커피를 준다.
남은 커피의 양은 5개 입니다
돈을 받았으니 커피를 준다.
남은 커피의 양은 4개 입니다
돈을 받았으니 커피를 준다.
남은 커피의 양은 3개 입니다
돈을 받았으니 커피를 준다.
남은 커피의 양은 2개 입니다
돈을 받았으니 커피를 준다.
남은 커피의 양은 1개 입니다
돈을 받았으니 커피를 준다.
남은 커피의 양은 0개 입니다
커피가 다 떨어졌읍니다. 가게종료!

In [20]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [22]:
a = [(1,2),(3,4),(5,6)]
for (first, second) in a:
    print(first + second)

3
7
11

In [25]:
marks = [90,26,67,45,80]
number = 0
for mark in marks:
    number = number+1
    if mark >= 60:
        print("%d번 학생은 합격!" % number)
    else:
        print("%d번 학생은 부랍격!" % number)

1번 학생은 합격!
2번 학생은 부랍격!
3번 학생은 합격!
4번 학생은 부랍격!
5번 학생은 합격!

In [29]:
sum = 0 
for i in range(1,11):
    sum += i
print(sum)

55

In [33]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end = " ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81